.login {
  padding: 50px;
  gap: 20px;
  color: #000;

  &__wrapper {
    max-width: 300px;
    gap: 100px;
  }
  &__content {
    gap: 30px;
  }

  &__logo {
    img {
      width: 130px;
    }
    span {
      color: #dc4c3e;
      font-weight: 700;
      font-size: 8px;
    }
  }

  &__image {
    width: 50%;
    img {
      width: 100%;
    }
  }

  &__title {
    color: #202020;
    font-size: 32px;
    font-weight: 700;
  }

  &__forgot-password {
    text-decoration: underline;
    color: #666666;
    font-size: 13px;
  }

  &__create-account {
    color: #666666;
    font-size: 13px;
    margin-top: 30px;
    span {
      text-decoration: underline;
    }
  }

  &__input-group {
    gap: 15px;
  }

  &__input {
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 300px;

    input {
      border: none;
    }
  }
}
