.nav {
  height: 50px;
  padding: 10px 24px;
  background: #333;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  color: #fff;

  .actions {
    gap: 10px;
  }

  input {
    background: #b3b3b3;
    border-radius: 3px;
    border-color: transparent;
    padding: 6px;
    height: 30px;

    span {
      color: #fff;
    }
  }
}
